body{
    background-color: white;
}

.topnav{
    position: relative;
    background-color: black;
    overflow: hidden;
    text-decoration: none;
}

.topnav a {
    float: left;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active{
    background-color: skyblue;
    color: white;
}

li{
    display:inline;

}

ul{
    display:block;
}



